.header__main {
    grid-template-columns: 10% 60% 30%;
    align-content: center;
    height: 80px;
    font-size: 1.4em;
    border-bottom: 3px solid var(--section-separator-color)
}

.header__logo {
    padding-left: 20px;
}

.header__list {
    display: flex;
    column-gap: 50px;
}

.header__try-register {
    gap: 20px;
    justify-content: end;
    margin-right: 10px;
}

.header__register-or-login {
    font-size: 0.9em;
}

.header__secondary {
    padding: 2em 1.5em;
}